/* Styles go here */

.boxOuter{
 background-color:lightGrey;
}

#closebtn{
 background-color:lightGrey;
 color:black;
}

.inputTxt{
 margin:30px 10px 10px 10px;
 width: 350px;
}

.panelmain{
 padding:10px 10px 10px 10px;
}

.dirBtn{
 margin-left:10px;
 margin-top:10px;
}

.boxbtn{
 margin-top:10px;
}

.addBtn{
 margin: 5px 5px 5px 190px;
}

.mainContainer{
 margin-top:20px;
}