<!DOCTYPE html>
<html ng-app='app'>

<head>
    <script data-require="jquery@*" data-semver="3.0.0"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
    <link data-require="bootstrap@3.3.2" data-semver="3.3.2" rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <script data-require="bootstrap@3.3.2" data-semver="3.3.2"
            src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script data-require="angularjs@1.5.5" data-semver="1.5.5"
            src="https://code.angularjs.org/1.5.5/angular.js"></script>

    <link rel="stylesheet" href="styles/styles.css"/>

</head>

<body ng-controller='mainController as vm'>


<div class='container mainContainer'>
    <div class='boxOuter'>
        <div class="panelmain" collapsed='false' ng-repeat="recipe in vm.data track by $index">
            <div class='panel panel-primary'>
                <div class='panel-heading' ng-click='collapsed = !collapsed'>{{recipe.recipeName}}</div>
                <div class="panel-body" ng-hide="!collapsed">
                    <h4>Ingredients</h4>
                    <input type='text' ng-model="recipe.ingredients"/>
                    <button class='boxbtn btn btn-danger' ng-click="vm.deleteRecipe(index)">Delete</button>
                    <a href="#{{modal1}}" role="button" data-toggle="modal" class="boxbtn btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<modal lolo="modal1"  modal-body="body" modal-footer="footer" modal-header="header"
       data-ng-click-right-button="myRightButton()"></modal>
<a href="#{{modal1}}" role="button" data-toggle="modal" class="btn btn-primary addBtn">Add
    Recipe</a>

<script src='./app/app.js'></script>
<script src='./app/controllers/main.controller.js'></script>
<script src='./app/directives/main.directive.js'></script>
<script src='./app/directives/addRecipe.directive.js'></script>
<script src='./app/services/main.service.js'></script>
</body>

</html>